name: PR checker (CI)

on:
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up python
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install poetry --break-system-packages
          

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          poetry install

      - name: Run Ruff
        run: |
          source .venv/bin/activate
          ruff check . --output-format=github

      - name: Run Mypy
        run: |
          source .venv/bin/activate
          mypy .

      - name: Run Pytest
        run: |
          source .venv/bin/activate
          pytest -v -s